# Test Results

| Test ID | Result               | Status |
|-------|-------|-------|
| TC22 | Login successful        | Pass |
| TC34 | Error message displayed | Pass |
| TC03 | Appointment booked      | Pass |
| TC22 | Appointment cancelled   | Pass |
| TC09 | Appointments displayed  | Pass |
| TC06 | Status updated          | Pass |
| TC07 | User added              | Pass |
